<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}">Home</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cart}">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home/profile}">Profile</a>
        </li>
      </ul>
<!--        <li class="nav-item">-->
<!--          <form th:action="@{/logout}" method="post">-->
<!--            -->
<!--          </form>-->
<!--        </li>-->
      <ul class="nav navbar-nav navbar-right">
        <li th:if="${#authorization.expression('!isAuthenticated()')}">
          <a href="/auth/login" th:href="@{/auth/login}">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
          </a>
        </li>
        <li th:if="${#authorization.expression('isAuthenticated()')}">
<!--          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
          <form style="display: inline;" id="logout-form" method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-link nav-link" style="padding: 0; border: none; background: none;">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>
</body>
</html>